/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
  color: #6b1a22;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 15px 10px;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
  font-size: 14px;
}

main ul li {
  font-size: 14px;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #a35766;
  color: #ecdbc9;
}

main img {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #83092e;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Tangerine", cursive;
  font-size: 72px;
  color: #ecdbc9;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header nav ul li {
  list-style-type: none;
  margin-bottom: 15px;
}

header nav ul li a {
  color: #ecdbc9;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Join Form ------- */
legend {
}

form {
  border: 2px solid #6b1a22;
  padding: 10px;
}

form label {
  font-weight: bold;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
  padding-left: 0;
}

form button {
  background-color: #83092e;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #83092e;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  h3 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }

  main ul li {
    font-size: 16px;
  }
  header nav ul {
    justify-content: flex-end;
  }
  header {
    display: flex;
    justify-content: space-between;
  }
  main img {
    width: 50%;
  }
  #join {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }
  #about div {
    display: flex;
    flex-direction: row;
  }
  #about div img {
    width: 25%;
    margin-right: 20px;
    padding: 0;
  }
  #about div p {
    width: 50%;
    align-self: center;
  }
  #download div {
    flex-direction: column;
    width: 50%;
    align-self: center;
  }
  #download {
    display: flex;
  }
  #download img {
    width: 50%;
    margin: 10px;
    padding: 0;
  }
  #blog div {
    display: flex;
    flex-direction: row;
  }
  #blog div div {
    display: flex;
    flex-direction: column;
  }
  #blog div div img {
    display: flex;
    width: 90%;
  }
  #blog div div p,
  #blog div div h3 {
    width: 90%;
    margin: 10px;
  }
}
